<div class="row">
    <div clas="col-md-12">
        <h3>Group chat</h3>
        <h4><!-- class information --></h4>
    </div>
</div>
<div class="row">
    <div clas="col-md-12">
        <form data-ng-submit="send()">
            <div class="panel-primary">
                <div class="panel-heading">
                    <!-- Display groupchat name here... -->
                    ({{chatlist.length}})
                </div>
                <div id="chatcontainer" class="panel-body h300 ovauto">
                    <div data-ng-if="chatlist.length === 0">
                        <p>No messages posted in this group yet</p>
                    </div>
                    <dl class="dl-horizontal" data-ng-repeat="chat in chatlist">
                        <dt>{{chat.username}}</dt>
                        <dd>{{chat.msg}}</dd>
                    </dl>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter message" data-ng-model="message" data-ng-required="true">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-md btn-block" class="form-control" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
